/* You can add global styles to this file, and also import other style files */
body{
  background: Url('assets/images/header-background.jpg');
  color: #e7e7e7;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto 100%;
}